<div class="center-page">
  <div class="crop-card">

    <span class="close-btn" onclick="window.location='/'">✖</span>

    <h2>🌿 Crop Disease Detection</h2>

    <form id="diseaseForm" action="/disease-detect" method="POST" enctype="multipart/form-data">

      <label>Select Crop</label>
      <select name="cropType" required>
        <option value="">Select Crop</option>
        <option value="Rice">Rice</option>
        <option value="Wheat">Wheat</option>
        <option value="Maize">Maize</option>
        <option value="Cotton">Cotton</option>
        <option value="Sugarcane">Sugarcane</option>
      </select>

      <label>Upload Crop Image</label>
      <input type="file" name="cropImage" id="cropImage" required>

      <button type="submit">🔍 Detect Disease</button>

    </form>

  </div>
</div>